$verdeSalas: rgba(0, 175, 154, 0.96)
$azulSalas: rgb(0, 85, 185)
$grisSalas: #6ebeffa2

.ficha-propiedad_header
    background-color: $azulSalas
    color: white
    font-weight: bold
    text-align: center
.ficha-propiedad_titulos
    color: $azulSalas
    font-size: 10px
    font-weight: bold
.ficha-propiedad_contenido
    font-size: 12px
.ficha-propiedad_contenido_valor
    font-size: 13px
    font-weight: bold

.ficha-propiedad_foto


    img
        border-radius: 10px
        /* en caso que la fotos sean mas grands que las recorte, no las deforme */
        object-fit: cover
        max-height: 25vh
        width: 50vh
