$verdeSalas: rgba(0, 175, 154, 0.96)
$azulSalas: rgb(0, 85, 185)
$grisSalas: #6ebeffa2

.informe_novedades_titulo
    color: $verdeSalas
    font-size: 1.5vh
    font-weight: 600

.informacion_informe_novedades
    font-size: 0.8vh

.linea-azul
    border-top: 2px solid $azulSalas

.titulo_informacion_informe_novedades

    color: $azulSalas

.novedad-registro
    page-break-inside: avoid
    break-inside: avoid
