$verdeSalas: rgba(0, 175, 154, 0.96)
$azulSalas: rgb(0, 85, 185)
$grisSalas: #6ebeffa2

.listado_agenda_titulo_general
    color: $verdeSalas
    font-size: 2.5vh

.listado_agenda_titulo
    color: white
    background: $azulSalas
.listado_agenda_texto_una_linea
    white-space: nowrap
.listado_agenda_body
    tr
        /* quiero que coloree un renglo si y un renglon no susesibamente la primera no */
        &:nth-child(odd)
            background: $grisSalas
        td
            /* border-left: 1px solid $azulSalas */
            /* border-right: 1px solid $azulSalas */
            font-size: 1.9vh

.listado_agenda_asesores
    th
        color: $azulSalas
        font-size: 1.5vh
        font-weight: bold
    td
        color: black
        font-size: 1.3vh !important
