@charset "UTF-8";
/* Estilos para PDF */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 15px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: rgba(0, 175, 154, 0.96);
  margin: 0;
  font-size: 23px;
}

.logo {
  height: 50px;
  margin-right: 15px;
}

.impuestos_datos_broche {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

/* Tabla con ancho completo y márgenes */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  border-spacing: 0;
}

/* Estilos para el encabezado de la tabla */
.impuestos_tabla_titulo tr th {
  text-align: center;
  font-weight: bold;
  padding: 1px;
  font-size: 14px;
  color: white;
  background-color: rgb(0, 85, 185);
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.impuestos_tabla td {
  text-align: center;
  padding: 1px;
  font-size: 12px;
  color: black;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  /* border-bottom: 1px solid grey */
  /* border-bottom: 1px solid $azulSalas */
}

/* SALTO DE PÁGINA PROFESIONAL */
.page-break {
  page-break-after: always;
}

.ficha-propiedad_header {
  background-color: rgb(0, 85, 185);
  color: white;
  font-weight: bold;
  text-align: center;
}

.ficha-propiedad_titulos {
  color: rgb(0, 85, 185);
  font-size: 10px;
  font-weight: bold;
}

.ficha-propiedad_contenido {
  font-size: 12px;
}

.ficha-propiedad_contenido_valor {
  font-size: 13px;
  font-weight: bold;
}

.ficha-propiedad_foto img {
  border-radius: 10px;
  /* en caso que la fotos sean mas grands que las recorte, no las deforme */
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 25vh;
  width: 50vh;
}

/* Estilos para PDF */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 15px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: rgba(0, 175, 154, 0.96);
  margin: 0;
  font-size: 23px;
}
.header .listado_texto_titulo {
  font-size: 10px !important;
  text-align: center !important;
}

.logo {
  height: 50px;
  margin-right: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  border-spacing: 0;
}
table thead {
  display: table-header-group;
}
table tbody tr {
  page-break-inside: avoid;
}

/* Estilos para el encabezado de la tabla */
.listado_tabla_titulo tr th {
  text-align: center;
  font-weight: bold;
  padding: 1px;
  font-size: 12px;
  color: white;
  background-color: rgb(0, 85, 185);
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.listado_tabla td {
  text-align: center;
  padding: 1px;
  font-size: 9.5px;
  color: black;
  border-left: 1px solid white;
  border-right: 1px solid grey;
  /* border-bottom: 1px solid grey */
  /* border-bottom: 1px solid $azulSalas */
}

.listado_estado_en_ambos {
  font-weight: 800;
  font-style: italic;
  color: rgba(0, 175, 154, 0.96) !important;
}

.listado_estado_alquilado {
  font-style: italic;
  text-decoration: none;
  color: rgb(0, 85, 185) !important;
  font-size: 6px;
}

/* listados de conversaciones */
.contenedor-listado-conversaciones {
  border: 1px solid rgb(0, 85, 185);
  border-radius: 5px;
}
.contenedor-listado-conversaciones .listado_conversaciones_titulo {
  color: rgba(0, 175, 154, 0.96);
  font-size: 1.3vh;
  font-weight: 700;
}
.contenedor-listado-conversaciones .listado_conversaciones_titulo_datos {
  color: black;
  font-size: 1vh;
}
.contenedor-listado-conversaciones .historial-conversaciones-titulo_historial {
  font-weight: 700;
  font-size: 1.3vh;
  color: black;
}
.contenedor-listado-conversaciones .parrafo-listado-conversaciones {
  font-size: 1.1vh;
}

.titulo-contenedor-listado-conversaciones {
  background-color: rgb(0, 85, 185);
  border-radius: 1px;
  color: white;
  font-size: 1.3vh;
  font-weight: 700;
}

.fecha-listado-conversaciones {
  color: black;
  font-size: 1vh;
}

.devolucion-listado-conversaciones {
  color: grey;
  font-size: 1vh;
}
.devolucion-listado-conversaciones .fecha-devolucion-conversacion {
  color: grey;
}

.listado_agenda_titulo_general {
  color: rgba(0, 175, 154, 0.96);
  font-size: 2.5vh;
}

.listado_agenda_titulo {
  color: white;
  background: rgb(0, 85, 185);
}

.listado_agenda_texto_una_linea {
  white-space: nowrap;
}

.listado_agenda_body tr {
  /* quiero que coloree un renglo si y un renglon no susesibamente la primera no */
}
.listado_agenda_body tr:nth-child(odd) {
  background: rgba(110, 190, 255, 0.6352941176);
}
.listado_agenda_body tr td {
  /* border-left: 1px solid $azulSalas */
  /* border-right: 1px solid $azulSalas */
  font-size: 1.9vh;
}/*# sourceMappingURL=pdfStyles.css.map */